{% extends 'main.html' %}
{% load static %}
{% block content %}

<div style="margin-left: 90px; margin-right: 90px; margin-top: 200px;" class="d-flex justify-content-between">
    <div class="w-50">
        <p style="font-family:'Poppins', sans-serif ;">OUR OFFICE</p>
        <h3>Kami percaya pada pemberdayaan teknologi untuk semua, dan sadar bahwa kami dapat membuat perubahan dengan
            memberikan layanan teknologi yang berkualitas</h3>
        <hr>
    </div>

    <div>
        <img src="{% static 'images/headeroffice.svg' %}" alt="">
    </div>
</div>

{% endblock %}